@media (min-width: $breakpoint-s) {
   .watch {
      background-position: center 0;
      background-size: auto 260px;

      &__body {
         grid-template: 1fr 80px 50px/1fr;
      }

      &__circle {
         width: 179px;
         height: 179px;
      }

      &__title {
         font-size: 41px;
         line-height: 31px;
      }
   }
}

@media (min-width: $breakpoint-s) {
   .watch {
      background-size: 100% 260px;
      background-position: 0 0;
   }
}

@media (min-width: $breakpoint-l) {
   .watch {
      background-size: cover;


      &__body {
         display: grid;
         justify-items: center;
         align-items: center;
         grid-template: 1fr 50px 40px/1fr;
      }

      &__circle {
         width: 238px;
         height: 238px;
         margin: 10px 45px 0 0;
      }

      &__title {
         font-size: 54px;
         line-height: 41px;
      }

      &__button-body {
         grid-row: 2/3;
         justify-self: start;
      }
   }
}