@import './_normolise';
@import './fonts.scss';
@import './_vars';
@import './_media';


body {
   @include roboto-regular;
   font-size: 16px;
   line-height: 22px;
   color: $black-blue;
   overflow: hidden;
}

.wrapper {
   margin: 0 auto;
}

.circle {
   @include button-circle;
}

.square {
   @include button-square;
}

form {
   @include emailform;
   max-width: 228px;
}