@import '../../../src/sass/fonts';
@import '../../../src/sass/_vars';
@import '../../../src/sass/_general';
@import '../../../src/sass/_header';
@import '../../../src/sass/_footer';
@import '_media';


.button-circle {
   @include button-circle;
}

.watch {
   background: url(../../../assets/img/panda/panda1.jpg) center 0/auto 186px no-repeat;

   &__body {
      @include grid-row;
      grid-template: 1fr 65px 50px/1fr;
   }

   &__items {
      justify-self: end;
   }

   &__title-body {
      position: absolute;
      z-index: 1;
      top: 17%;
      left: 15%;
   }

   &__title {
      @extend %roboto-bold;
      font-size: 28px;
      line-height: 21px;
      color: $white;
      text-transform: uppercase;
      text-align: center;
   }

   &__title-text-yellow {
      color: $yellow;
   }

   &__circle {
      position: relative;
      width: 119px;
      height: 119px;
      border-radius: 50%;
      background-image: $orange-grad-deep;
      margin: 20px 30px 0 0;
   }

   &__button-body {
      grid-row: 3/4;
   }
}
