.logo__body {
   position: relative;
}

.logo-img {
   position: absolute;
}

.logo__title {
   @include logo;
   color: $white;
   text-align: center;
}

.menu-list {
   color: $white;
   @include grid-column;
   gap: 30px;
}

.header {
   background-color: $black;

   &__body {
      @include grid-column;
      grid-template: 1fr/minmax(auto, 145px) minmax(auto, 1295px);
      justify-items: start;
   }

   &____logo-body {
      order: 1;
   }

   .logo-img {
      top: 12px;
      left: 5px;
      height: 15px;
   }

   &__title {
      max-width: 47px;
   }

   &__menu {
      display: none;
   }

   &__burger {
      justify-self: end;
      display: block;
      order: 2;
      position: relative;
      width: 18px;
      height: 10px;
   }

   &__burger::before,
   &__burger::after {
      content: "";
      position: absolute;
      border-radius: 2px;
      background-color: #FFF;
      width: 100%;
      height: 2px;
      left: 0;
   }

   &__burger::before {
      top: 0;
   }

   &__burger::after {
      bottom: 0;
   }

   &__burger span {
      position: absolute;
      background-color: $white;
      width: 100%;
      height: 2px;
      border-radius: 2px;
      top: 4px;
      left: 0;
   }

   &__title {
      margin: 3px 0;
      @include logo-mobile;
   }
}

@media screen and (min-width: $breakpoint-xl) {
   .header {

      &__burger {
         display: none;
      }

      &__menu {
         display: block;
      }

      .menu-list {
         gap: 48px;
      }

      .logo-img {
         top: 25px;
         left: 12px;
      }

      &__logo-body {
         margin: 14px 0;
      }

      &__title {
         max-width: 86px;
      }
   }

   .logo__title {
      @include logo;
      border: 2px solid $white;
      border-radius: 2px;
      padding: 4px 5px;
   }
}