@font-face {
  font-family: "Roboto-Regular";
  src: url(../../../assets/fonts/Roboto-Regular.woff) format("woff"), url(../../../assets/fonts/Roboto-Regular.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Roboto-Medium";
  src: url(../../../assets/fonts/Roboto-Medium.woff) format("woff"), url(../../../assets/fonts/Roboto-Medium.woff2) format("woff2");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Roboto-Bold";
  src: url(../../../assets/fonts/Roboto-Bold.woff) format("woff"), url(../../../assets/fonts/Roboto-Bold.woff2) format("woff2");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Roboto-Light";
  src: url(../../../assets/fonts/Roboto-Light.woff) format("woff"), url(../../../assets/fonts/Roboto-Light.woff2) format("woff2");
  font-style: normal;
  font-weight: 300;
}
.watch__title {
  font-family: "Roboto-Bold";
  font-style: normal;
  font-weight: 700;
}

body {
  font-family: "Roboto-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #333B41;
  overflow-x: hidden;
}

.wrapper {
  display: grid;
  min-height: 100%;
  grid-template: minmax(34px, auto) 1fr minmax(280px, auto)/1fr;
  margin: 0 auto;
}

.container {
  padding: 0 10px;
  margin: 0 auto;
}

@media screen and (min-width: 640px) {
  .container {
    padding: 0 20px;
  }
}
@media screen and (min-width: 1000px) {
  .container {
    padding: 0;
    max-width: 940px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    padding: 0;
    max-width: 1160px;
  }
}
.logo__body {
  position: relative;
}

.logo-img {
  position: absolute;
}

.logo__title {
  font-family: "Roboto-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 23px;
  color: #FFFFFF;
  text-align: center;
}

.menu-list {
  color: #FFFFFF;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 30px;
}

.header {
  background-color: #000000;
}
.header__body {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-template: 1fr/minmax(auto, 145px) minmax(auto, 1295px);
  justify-items: start;
}
.header____logo-body {
  order: 1;
}
.header .logo-img {
  top: 12px;
  left: 5px;
  height: 15px;
}
.header__title {
  max-width: 47px;
}
.header__menu {
  display: none;
}
.header__burger {
  justify-self: end;
  display: block;
  order: 2;
  position: relative;
  width: 18px;
  height: 10px;
}
.header__burger::before, .header__burger::after {
  content: "";
  position: absolute;
  border-radius: 2px;
  background-color: #FFF;
  width: 100%;
  height: 2px;
  left: 0;
}
.header__burger::before {
  top: 0;
}
.header__burger::after {
  bottom: 0;
}
.header__burger span {
  position: absolute;
  background-color: #FFFFFF;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  top: 4px;
  left: 0;
}
.header__title {
  margin: 3px 0;
  font-family: "Roboto-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

@media screen and (min-width: 1000px) {
  .header__burger {
    display: none;
  }
  .header__menu {
    display: block;
  }
  .header .menu-list {
    gap: 48px;
  }
  .header .logo-img {
    top: 25px;
    left: 12px;
  }
  .header__logo-body {
    margin: 14px 0;
  }
  .header__title {
    max-width: 86px;
  }
  .logo__title {
    font-family: "Roboto-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    padding: 4px 5px;
  }
}
.footer {
  background-color: #000000;
}

.footer__container {
  padding: 20px 10px;
}

@media screen and (min-width: 1000px) {
  .footer__container {
    padding: 40px 0;
  }
}
@media (min-width: 380px) {
  .watch {
    background-position: center 0;
    background-size: auto 260px;
  }
  .watch__body {
    grid-template: 1fr 80px 50px/1fr;
  }
  .watch__circle {
    width: 179px;
    height: 179px;
  }
  .watch__title {
    font-size: 41px;
    line-height: 31px;
  }
}
@media (min-width: 380px) {
  .watch {
    background-size: 100% 260px;
    background-position: 0 0;
  }
}
@media (min-width: 640px) {
  .watch {
    background-size: cover;
  }
  .watch__body {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template: 1fr 50px 40px/1fr;
  }
  .watch__circle {
    width: 238px;
    height: 238px;
    margin: 10px 45px 0 0;
  }
  .watch__title {
    font-size: 54px;
    line-height: 41px;
  }
  .watch__button-body {
    grid-row: 2/3;
    justify-self: start;
  }
}
.button-circle {
  font-family: "Roboto-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  text-transform: uppercase;
  background-image: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 25px;
  padding: 16px 73px;
}
.button-circle:hover {
  background: #E47209;
}
.button-circle:active {
  background: #4B9200;
}
.button-circle:disabled {
  background: #767474;
}

.watch {
  background: url(../../../assets/img/panda/panda1.jpg) center 0/auto 186px no-repeat;
}
.watch__body {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template: 1fr 65px 50px/1fr;
}
.watch__items {
  justify-self: end;
}
.watch__title-body {
  position: absolute;
  z-index: 1;
  top: 17%;
  left: 15%;
}
.watch__title {
  font-size: 28px;
  line-height: 21px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
}
.watch__title-text-yellow {
  color: #FFEE2E;
}
.watch__circle {
  position: relative;
  width: 119px;
  height: 119px;
  border-radius: 50%;
  background-image: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  margin: 20px 30px 0 0;
}
.watch__button-body {
  grid-row: 3/4;
}